#1.create one variable type of data

In [ ]:
string

#2.variables containing adata

In [ ]:
var 2 =' ['ds',ml','python']

#3.operators using in python

In [ ]:
/  = division
%  = remainder
// =floor division
** =exponent

In [2]:
20/10

2.0

In [3]:
20%10

0

In [4]:
20//10

2

In [5]:
20**10

10240000000000

#4.for loop

In [7]:
#list of the length
sum=0
for i in range (10):
    sum = sum +1
    print (sum)

1
2
3
4
5
6
7
8
9
10

5.while loop

In [15]:
a = 10
i = 1

while i < a:
    
    i=i+1
    if i == 4:
        continue
    print (i)

2
3
5
6
7
8
9
10

#6.for loop and if else

In [55]:
#list having integer
a=25
#using for loop
a = [1,3,5,7,9,11,13,15,17,19,21,23,25]
#print the list using loop
for x in range (len(a)):
    print (a)
#return n is divisible by 25
#driver code
a == 3
if  "--main--":
    if    (a):
        print ("yes")
else:
    print ("no")

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]
yes

#7.mutable and immutable data types

In [ ]:
Mutable :
A mutable object can be changed after it is created.
Example:
        List
        Set
        Dictionary
Data types:
            Numbers
            Strings
            Tuples

In [56]:
a = ["milk","eggs"]
id(a)
a.append("bread")
id (a)

139807858385856

In [ ]:
Immutable:
An immutable object cannot be changed after its created.    
Example:
        tuples
        int
        float
        bool
Data types:
            list 
            dictionary
            sets

In [57]:
name_1 = "Arun"
name_2 = "T" + name_1[1:]
print (" id of name_1=",id(name_1))
print (" id of name_2 =",id(name_2))

 id of name_1= 139807701419952
 id of name_2 = 139807696136112